#navbar{
    border:1px solid black;
    display:flex; 
}
#search_input{
    margin-left: 80px;
    margin-top: 20px;
    height:30px;
    width:1000px;
    border-radius: 15px;
    font-size: 20px;
}
#logo{
    margin-left: 40px;
    text-decoration: none;
    font-size: 35px;
}